data.wat
data.warc
data.wet
__pycache__

fineweb-edu.parquet
*.pt

llama_training/babylm/*
test/

train_100M/

babylm_train.zip
babylm_test.zip
*.pt
llama_training/test
llama_training/dev
wandb
checkpoints
venv
*.zip
*.gz
*.dev
text.py

SmolLM2-135M/
smol-smoltalk-6k.*
*.jsonl

assignment3/gsm8k-local
assignment3/Qwen3-0.6B